.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.pem
*.key
docker-compose.override.yml
README.md
tests/
.phpunit.result.cache
